<link rel="stylesheet" href="/styles/footer.css" />
<footer class="site-footer">
  <div class="footer">
      <div class="getting-started">
        <p>Getting Started</p>
        <nav class="footer-nav">
          <ul >
            <li><a href="./singles-dance-lessons.html">Singles Dance Lessons</a></li>
            <li><a href="./couples-dance-lessons.html">Couples Dance Lessons</a></li>
            <li><a href="./wedding-dance-lessons.html">Wedding Dance Lessons</a></li>
            <li><a href="./salsa-lessons-chevy-chase.html">Salsa Dance Lessons</a></li>
            <li><a href="./swing-lessons-chevy-chase.html">Swing Dance Lessons</a></li>
            <li><a href="./argentine-tango-lessons-chevy-chase.html">Argentine Tango Lessons</a></li>
            <li><a href="./country-dance-lessons-chevy-chase.html">Country Dance Lessons</a></li>
            
            
          </ul>
        </nav>
      </div>
      <div class="info">
        <p>About Us</p>
        <nav class="footer-nav">
          <ul >
            <li><a href="./dances-we-teach.html">Dances We Teach</a></li>
            <li><a href="./how-we-teach.html">How We Teach</a></li>
            <li><a href="./frequently-asked-questions.html">FAQ</a></li>
            <li><a href="./legacy.html">The Legacy</a></li>
            <li><a href="./careers.html">Careers</a></li>
            <li><a href="./covid-19.html">Covid-19</a></li>
            <li><a href="./privacy-policy.html">Privacy Policy</a></li>
            <li><a href="./site-map.html">Site Map</a></li>
          </ul>
        </nav>
      </div>
     <div class="studio-contact">
       <p><a href="./dance-lessons-chevy-chase.html">Chevy Chase Studio</a></p>
       <nav class="social-links social-links-sb">
        <a
          href="https://www.facebook.com/arthurmurray.chevychase.1"
          target="_blank"
          aria-label="Go to Arthur Murray Chevy Chase Facebook Page"
          rel="noreferrer"
          ><i class="fab fa-facebook-f" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.instagram.com/ccarthurmurray/"
          target="_blank"
          aria-label="Go to Arthur Murray Chevy Chase Instagram Page"
          rel="noreferrer"
          ><i class="fab fa-instagram" aria-hidden="true"></i
        ></a>
               </nav>
       <div class="contact-info">
         <p><a href="tel:+13016572700">1 (301) 657-2700</a></p>
         <p><a href="https://goo.gl/maps/e4shJznp8zMaQMdW7" target="_blank" aria-label="Go to Google Maps studio address - Opens in a new tab">5481-H Wisconsin Ave <br> Chevy Chase, MD 20815</a></p>
       </div>
       
       <p class="surrounding-cities">Serving     
        <a href="./dance-lessons-chevy-chase.html">Chevy Chase</a>,
        <a href="./dance-lessons-bethesda.html">Bethesda</a>, <br/> 
        <a href="./dance-lessons-potomac.html">Potomac</a>, and surrounding areas.
      </p> 
     </div>
  </div>  
  <div class="marketing-links">
    <p class="copywriting">
      <small class="copywrite-year">
        Copyright © <span class="copy-year">2025</span>, </small
      ><small>  Arthur Murray</small>
    </p>
    <p class="onbeat-link">
      <small>Local SEO and Marketing by <a href="https://onbeatmarketing.com">OnBeat Marketing</small></a>
    </p>
  </div>  


</footer>